# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# IDE & Editor files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node modules & dependencies
node_modules/
node_modules
**/node_modules/
**/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Environment & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# System Logs
logs
*.log

# Temporary / Cache
.cache/
.tmp/
temp/
